header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.store-links {
  display: flex;
  height: 50px;
}

.play-badge {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 7px 10px;
  border-radius: 6px;
  background: #111;
  color: white;
  text-decoration: none;
  font-family: system-ui, sans-serif;
  border-style: solid;
  border-width: 1px;
  border-color: #b5b2b2;
}

.icon {
  font-size: 26px;
}

.small {
  font-size: 11px;
  opacity: 0.7;
}

.large {
  font-size: 20px;
  font-weight: 600;
}